Source: netperfmeter
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Homepage: http://www.iem.uni-due.de/~dreibh/netperfmeter/
Build-Depends: autotools-dev,
               colorgcc,
               debhelper (>= 9),
               libbz2-dev (>= 1.0),
               libfile-fcntllock-perl,
               libglib2.0-dev (>= 2.0.0),
               libsctp-dev (>= 1.0.5)
Standards-Version: 3.9.5

Package: netperfmeter
Architecture: any
Depends: bc,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: iputils-ping,
            iputils-tracepath,
            subnetcalc (>= 2.0.2),
            traceroute
Description: Network Performance Meter
 NetPerfMeter is a network performance meter for the UDP,
 TCP, MPTCP, SCTP and DCCP transport protocols over IPv4 and IPv6.
 It simultaneously transmits bidirectional flows to an endpoint
 and measures the resulting flow bandwidths and QoS. The
 results are written as vector and scalar files. The vector
 files can e.g. be used to create plots of the results.
