NUM_FLOWS=1
NAME_ACTIVE_NODE="Client"
NAME_PASSIVE_NODE="Server"
SCALAR_ACTIVE_NODE="haikou-Disjoint-local-Essen/Run-46bee536635874121c28b2e6155853b5/output-active.sca.bz2"
SCALAR_PASSIVE_NODE="haikou-Disjoint-local-Essen/Run-46bee536635874121c28b2e6155853b5/output-passive.sca.bz2"
VECTOR_ACTIVE_NODE="-active"
VECTOR_PASSIVE_NODE="-passive"

FLOW1_DESCRIPTION="Flow 1"
FLOW1_PROTOCOL="SCTP"
FLOW1_OUTBOUND_FRAME_RATE_VALUE1=0.000000
FLOW1_OUTBOUND_FRAME_RATE_VALUE2=0.000000
FLOW1_OUTBOUND_FRAME_RATE_VALUE3=0.000000
FLOW1_OUTBOUND_FRAME_RATE_VALUE4=0.000000
FLOW1_OUTBOUND_FRAME_RATE_RNG_ID=0
FLOW1_OUTBOUND_FRAME_RATE_RNG_NAME="constant"
FLOW1_OUTBOUND_FRAME_SIZE_VALUE1=1444.000000
FLOW1_OUTBOUND_FRAME_SIZE_VALUE2=0.000000
FLOW1_OUTBOUND_FRAME_SIZE_VALUE3=0.000000
FLOW1_OUTBOUND_FRAME_SIZE_VALUE4=0.000000
FLOW1_OUTBOUND_FRAME_SIZE_RNG=0
FLOW1_INBOUND_FRAME_RATE_VALUE1=0.000000
FLOW1_INBOUND_FRAME_RATE_VALUE2=0.000000
FLOW1_INBOUND_FRAME_RATE_VALUE3=0.000000
FLOW1_INBOUND_FRAME_RATE_VALUE4=0.000000
FLOW1_INBOUND_FRAME_RATE_RNG_ID=0
FLOW1_INBOUND_FRAME_RATE_RNG_NAME="constant"
FLOW1_INBOUND_FRAME_SIZE_VALUE1=0.000000
FLOW1_INBOUND_FRAME_SIZE_VALUE2=0.000000
FLOW1_INBOUND_FRAME_SIZE_VALUE3=0.000000
FLOW1_INBOUND_FRAME_SIZE_VALUE4=0.000000
FLOW1_INBOUND_FRAME_SIZE_RNG=0
FLOW1_RELIABLE=1.000000
FLOW1_ORDERED=1.000000
FLOW1_VECTOR_ACTIVE_NODE="-active-00000001-0000"
FLOW1_VECTOR_PASSIVE_NODE="-passive-00000001-0000"

