# Network Performance Meter
# Copyright (C) 2009-2024 by Thomas Dreibholz
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Contact: dreibh@simula.no

[Unit]
Description=NetPerfMeter
Documentation=man:netperfmeter(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
DynamicUser=yes
# User=nobody
# Group=nogroup
WorkingDirectory=/tmp
EnvironmentFile=/etc/netperfmeter.conf

# Load TCP congestion control modules:
ExecStartPre=+/bin/sh -c "find /lib/modules/$(uname -r)/kernel/net/ipv4/ -name 'tcp_*.ko' | xargs -r -n1 basename | sed 's/\\.ko$//g' | sort | xargs -r -I MODULE sh -c 'modprobe MODULE || true'"
# Allow all TCP congestion controls:
ExecStartPre=+/bin/sh -c "sysctl -w net.ipv4.tcp_allowed_congestion_control=\"$(sysctl -n net.ipv4.tcp_available_congestion_control)\""

ExecStart=/usr/bin/netperfmeter \
   "${NETPERFMETER_PORT}" \
   "${NETPERFMETER_OPTIONS}" \
   -verbosity="${VERBOSITY}" \
   -nodisplay

# Unload TCP congestion control modules:
ExecStopPost=+/bin/sh -c "lsmod | grep 'tcp_' | sort -k3n | cut -d' ' -f1 | xargs -r -I MODULE sh -c 'rmmod MODULE || true'"

KillSignal=SIGINT
KillMode=control-group
TimeoutStopSec=60
Restart=on-failure
RestartSec=30

PrivateNetwork=no
PrivateTmp=yes
InaccessibleDirectories=/home
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
