#!/bin/sh
# shellcheck disable=SC2034,SC1094
#
# PROVIDE: netperfmeter_module_loader
# REQUIRE: FILESYSTEMS
# BEFORE: netperfmeter

# ==========================================================================
#         _   _      _   ____            __ __  __      _
#        | \ | | ___| |_|  _ \ ___ _ __ / _|  \/  | ___| |_ ___ _ __
#        |  \| |/ _ \ __| |_) / _ \ '__| |_| |\/| |/ _ \ __/ _ \ '__|
#        | |\  |  __/ |_|  __/  __/ |  |  _| |  | |  __/ ||  __/ |
#        |_| \_|\___|\__|_|   \___|_|  |_| |_|  |_|\___|\__\___|_|
#
#                  NetPerfMeter -- Network Performance Meter
#                 Copyright (C) 2009-2026 by Thomas Dreibholz
# ==========================================================================
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Contact:  dreibh@simula.no
# Homepage: https://www.nntb.no/~dreibh/netperfmeter/

. /etc/rc.subr

name="netperfmeter_module_loader"
rcvar="netperfmeter_module_loader_enable"

load_rc_config $name

# Set fallback defaults:
: "${netperfmeter_module_loader_enable:=NO}"

loader_script="PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin netperfmeter-module-loader"
extra_commands="status"

start_cmd="${loader_script} start"
stop_cmd="${loader_script} stop"
status_cmd="${loader_script} status"

run_rc_command "$1"
