#!/bin/sh
# shellcheck disable=SC2034,SC1094
#
# PROVIDE: netperfmeter_module_loader
# REQUIRE: FILESYSTEMS
# BEFORE: netperfmeter

. /etc/rc.subr

name="netperfmeter_module_loader"
rcvar="netperfmeter_module_loader_enable"

load_rc_config $name

# Set fallback defaults:
: "${netperfmeter_module_loader_enable:=NO}"

loader_script="PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin netperfmeter-module-loader"
extra_commands="status"

start_cmd="${loader_script} start"
stop_cmd="${loader_script} stop"
status_cmd="${loader_script} status"

run_rc_command "$1"
